body {
    font-family: 'Nunito Sans', sans-serif;    
}

/* ==========header========== */

.header {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header__logo {
    display: block;
    background-image: url('../img/logo.svg');
    width: 176px;
    height: 56px;
    background-repeat: no-repeat;
    background-size: cover;
}
.header__nav {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    gap: 46px;
}

.header__nav a {
    color: #443737;
    text-decoration: none;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.header__nav a::after {
    content: '';
    content: '';
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    background: transparent;
    display: block;
}

.header__nav a.active::after {
    background: #FFC725;    
}

.button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
    gap: 10px;
    cursor: pointer;
}

.button__item {
    position: relative;
}

.button__count {
    font-weight: 700;
    color: #fff;
    font-size: 13px;
    background: #F37335;    
    border-radius: 100%;
    position: absolute;
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 1.3;
    bottom: 3px;
    right: -4px;
}

.button__text {
    color: #443737;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 15px;    
}

/* ==========hero========== */
.hero {
    text-align: center;
    background-image: url('../img/hero/bg.jpg');
    background-size: cover;
    background-position: center center;
    padding: 142px 0;
    text-align: center;
    color: #fff;
    margin-bottom: 140px;
}

.breadcrumbs {
    padding-left: 0;
    margin-top: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.breadcrumbs a {
    color: #DEDEDE;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Open Sans', serif;    
}

.breadcrumbs a::before {
    content: '/';
    position: relative;
    left: -7px;
}

.breadcrumbs li:first-child a::before {
    display: none;
}

.title {
    font-weight: 700;
    font-size: 79px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.description {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #FAF9F9;
    max-width: 319px;
    margin: 0 auto;
}

/* ==========main========== */

.burger__box {
    background-image: url('/img/main/burger__box__bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;
    padding: 100px 100px;
    margin-bottom: 100px;
}

.burger__box__title {
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;    
}

.burger__box__title span {
    display: block;
    width: 95px;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 14px;
    background: #F37335;
    border-radius: 14px;
    padding: 5px 15px;
}

.burger__box p {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #FAF9F9;
    width: 353px;
}

.burger__box a {
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: #1E2F40;
    background: #FBB731;
    border-radius: 5px;
    padding: 20px 10px;
    display: block;
    width: 170px;    
}

.main__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main__header_title {
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    text-transform: uppercase;
    color: #1B2A49;
}

.main__header__select {
    font-family: 'Open Sans';    
    font-weight: 400;
    font-size: 15px;    
    color: #443737;    
    border-radius: 22px;
    padding: 10px 30px;
}


