body {
    font-family: 'Nunito Sans', sans-serif;    
}

/* ==========header========== */

header {
    border-bottom: 1px solid #DEDEDE;
    margin-bottom: -7px;
}

.header {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0;
}

.header__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 77%;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header__logo {
    display: block;
    background-image: url('../img/logo.svg');
    width: 176px;
    height: 56px;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__nav {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    gap: 46px;
    align-items: center;
    padding-right: 100px;
    padding-top: 5px;   
}

.header__nav a {
    color: #443737;
    text-decoration: none;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.header__nav a:hover{
    color: #FFC725;
    transition: 0.3s all;    
}

.header__nav a::after {
    content: '';    
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    background: transparent;
    display: block;
}

.header__nav a.active::after {
    background: #FFC725;    
}

.button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
    gap: 10px;
    cursor: pointer;
}

.button__item {
    position: relative;
}

.button__count {
    font-weight: 700;
    color: #fff;
    font-size: 13px;
    background: #F37335;    
    border-radius: 100%;
    position: absolute;
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 1.3;
    bottom: 3px;
    right: -4px;
}

.button__text {
    color: #443737;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 15px;    
}

/* ==========hero========== */
.hero {
    text-align: center;
    background-image: url('../img/hero/bg.png');
    background-size: cover;
    background-position: center center;
    padding: 142px 0;
    text-align: center;
    color: #fff;
    margin-bottom: 140px;
}

.breadcrumbs {
    padding-left: 0;
    margin-top: 3px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 7px;
}

.breadcrumbs a {
    color: #DEDEDE;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Open Sans', serif;    
}

.breadcrumbs a:hover {
    color: #FFC725;    
}

.breadcrumbs a::before {
    content: '/';
    position: relative;
    left: -2px;
    pointer-events: none;
}

.breadcrumbs a:hover::before {
    color: #DEDEDE;    
}

.breadcrumbs li:first-child a::before {
    display: none;
}

.title {
    font-weight: 700;
    font-size: 79px;
    margin-top: 18px;
    margin-bottom: 20px;
}

.description {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #FAF9F9;
    width: 319px;
    margin: 0 auto;
}

/* ==========main========== */

.banner__box {
    background-image: url('../img/main/burger__box__bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;
    padding: 50px 100px;
    margin-bottom: 80px;
    max-width: 100%;
}

.banner__box__title {
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;    
}

.banner__box__title span {
    display: block;
    width: 84px;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 14px;
    background: #F37335;
    border-radius: 14px;
    padding: 6px 5px;
    margin-bottom: 7px;
}

.banner__box p {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #FAF9F9;
    width: 353px;
    margin-top: -37px;
}

.banner__box__p__m {
    display: none;
}

.banner__link {
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: #1E2F40;
    background: #FBB731;
    border-radius: 5px;
    padding: 18px 0px;
    display: block;
    width: 170px;
    border: 1px solid #FBB731;
    transition: .3s;
}

.banner__link:hover {
    background-color: transparent;
    color: #FBB731;    
}

.menu {
    padding-top: 20px;
}

.menu__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -29px;
}

.menu__title {
    font-weight: 700;
    font-size: 44px;
    text-transform: uppercase;
    color: #1B2A49;
}

.menu__select {
    font-family: 'Open Sans';    
    font-weight: 400;
    font-size: 15px;    
    color: #443737;    
    border-radius: 22px;
    padding: 10px 30px;
    border: 1px solid #DEDEDE;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    flex-basis: 279px;
    background-image: url(../img/main/arrow.svg);
    background-size: 12.79px 7.75px;
    background-repeat: no-repeat;
    background-position: 95% center;
    cursor: pointer;
}

.menu__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;    
    margin-bottom: 50px;
}

.menu__grid__cover {
    width: 100%;
    height: 430px;
    position: relative;
    overflow: hidden;
}

.menu__grid__cover img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 430px;
}

.menu__grid__item {
    text-align: center;
}
 
.menu__grid__title {
    color: #1B2A49;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}

.menu__grid__price {
    font-weight: 700;
    font-size: 20px;
    color: #979797;
    text-align: center;
}

.menu__grid__btn {
    background: #FBB731;
    border-radius: 5px;
    border: none;
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 10px 30px;
    margin: 0 auto;
    gap: 5px;
    text-align: center;
    color: #979797;
}

.menu__grid__btn:hover {
    background-color: #F37335;
    transition: .4s;    
}
.menu__grid__icon {
    width: 18px;
    height: 18px;
    background-image: url('../img/main/menu/price__cart.png');
}

.menu__grid__text {    
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #1E2F40;
}


/* =========footer========== */

footer {
    background: #1E2F40;
    color: #fff;
    padding-top: 117px;
    padding-bottom: 106px;    
}
.footer {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 63px;
    height: 56px;
    padding-top: 16px;
}
.item {
    flex: 0 0 auto;
}
.item h2 {
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.item ul,
.tel ul {
    list-style-type: none;
}

.tel ul {
    margin: 10px 0;
}
.item li {
    margin-bottom: 9px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #FAF9F9;
    font-weight: 700;
    line-height: 24px;
}
.item a {
    color: #DEDEDE;
    text-decoration: none;
    font-weight: 400;
}

.item a:hover {
    color: #FBB731;
    transition: 0.3s all;
}

.item span {
    color: #DEDEDE;
    display: block;
    font-weight: 400;
    margin-bottom: 2px;
}
.footer__list__tel a {
    font-size: 20px;
    color: #FBB731;
    text-decoration: none;
}
.tel li {
    margin-bottom: 12px;
}

.tel a:hover {
    color:#fff;
    transition: 0.4s;
}

.footer__list__tel__mobile {
    display: none;
}

.mobile {
    display: none;
}

.menu__grid__text {
    color: #1E2F40;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}

.button__up {
    background-color: #FBB731;
    color: #1E2F40;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    padding: 5px 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 5px;
    transition: 1s;
}

.button__up:hover {
    background-color: #F37335;
}

.button__up.hidden {
    opacity: 0;
}

.button__up.visible {
    opacity: 1;
}

/* STYLE INDEX */

.main {
    background: linear-gradient(180deg, #0C4C7B -100%, #1E2F40 100%);
}
.wrap {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.content {
    color: #FAF9F9;
    flex: 0 0 580px;
    padding-top: 170px;
    padding-bottom: 170px;
}

.content__title {
    font-size: 120px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 120px;
    margin-bottom: 0px;
    margin-top: 40px;
}
.content__title span {
    color: #FBB731;
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
    display: block;
    margin-bottom: 10px;
}
.content__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    line-height: 1.4;
    margin-bottom: 42px;
}
.content__link,
.promo a {
    color: #1E2F40;
    background-color: #FBB731;
    border-radius: 5px;
    text-decoration: none;
    padding: 20px 45px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    border:1px solid #FBB731;    
}

.content__link:hover {
    background-color: transparent;
    color: #FBB731;
    transition: .4s ease;
    
    padding: 19px 45px;
}

.visual {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.bg {
    width: 432px;
    height: 100%;
    background: linear-gradient(2.42deg, #F37335 -19.6%, #FBB731 100.79%, #FDC830 100.79%);
}
.main img {
    width: 829px;
    position: absolute;
    right: -168px;
}
.promo {
    padding-top: 186px;
    padding-bottom: 146px;
}
.promo-left,
.promo-right {
    flex: 0 0 49%;
    color: #fff;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.promo-left {
    background-image: url(../img/index/promo-left.png);
    padding: 116px 50px;
}
.promo-right {
    background-image: url(../img/index/promo-right.png);
    padding: 102px 50px;
}

.promo-right a{
    margin-top: 20px;
}

.sale {
    font-size: 14px;
    font-weight: 900;
    background: #F37335;
    padding: 5px 19px;
    border-radius: 14px;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 3px;
    margin-top: 0;
}
.cost {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 8px;
    margin-top: 0;
}
.promo-description {
    font-family: 'Open Sans', sans-serif;
    color: #FAF9F9;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 0;
}
.promo-left .promo-description {
    max-width: 392px;
}
.promo-right .description {
    max-width: 300px;
    margin-bottom: 20px;
}
.free {
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 0;
}

.pos1 {
    display: none;
}

/* Modal */
/* КНОПКА БУРГЕР */
.burger {
    width: 34px;
    height: 22px;
    background-image: url(/img/mobile/burger.svg);
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
}

.modal {
    background-color: #FFF8DC;
    max-width: 500px;
    text-align: center;
    position: absolute;
    top: -400px;
    left: 0;
    right: 0;
    margin: 20px auto 0; 
    padding: 40px 30px;
    box-sizing: border-box;
    transition: .5s;       
}

.modal .header__nav {
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 23px;
    margin: 0;    
}

.burger-close {
    width: 22px;
    height: 22px;
    background-image: url(../img/mobile/close.svg);
    background-color: transparent;
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}