@media (min-width:1000px) {
    .promo__dr {
        width: 306px;
    }
}

@media (max-width:1000px) {
    .content {
        padding-top: 70px;
    }
}

@media (max-width:768px) {
    .wrap {
        max-width: 738px;
        
    }

    .content {
        padding: 37px 0 123px 14px;
        flex: 0 0 379px
    }

    .content__title span {
         font-size: 22px;
         margin-bottom: 6px;       
    }

    .content__title {
       margin-top: 0;   
       font-size: 86px;
       line-height: 100px;   
    }

    .content__text {
        font-size: 13.2px;
        width: 405px;
        margin-top: 21px;
        line-height: 21px;
        margin-bottom: 32px;
    }

    .content__link, .promo a {
        padding: 18px 40px;
        font-size: 13px;
    }

    .main img {
        width: 496px;
        right: -137px;
        bottom: -84px;
    }

    .bg {
        width: 200px;
    }

    .promo {
        padding-top: 105px;
        padding-bottom: 139px;
    }

    .block {
        height: 300px;
    }

    .promo-left {
        padding: 46px 32px;
    }

    .cost {
        margin-left: -2px;
        margin-top: 5px;
        margin-bottom: -3px;
    }
    
    .promo-right {
        padding: 64px 30px;
    }

    .free {
        margin-bottom: -2px;
    }

    .promo-description {
        font-size: 14.5px;
    }

    .promo__dr {
        margin-bottom: 1px;
        width: 296px;
    }
    
    .promo-right a {
        padding: 18px 41px;
        margin-top: 14px;
    }

    /* FOOTER */
    
    footer {
        padding-top: 46px;
        padding-bottom: 272px;
        position: relative;
    }

    .footer__list__tel {
        display: none;
    }

    .pos1 {
        display: block;
        margin-left: 6px;
    }

    .pos2 {
        position: absolute;
        left: 155px;
        top: 50px;
    }

    .pos2 ul {
        padding-left: 0px;
        margin-top: 19px;
        
    }
    
    .pos3 {
        position: absolute;
        right: -2px;
        top: 50px
    }

    .pos3 ul {
        padding-left: 0px;
        margin-top: 20px;
        
    }
    

}

@media (max-width:320px) {
    .wrap {
        max-width: 320px;        
    }

    .content {
        padding-top: 5px;
        padding-bottom: 166px;
        padding-left: 15px;
    }

    .content__title {
        margin-top: -2px;
        font-size: 58px;
        max-width: 290px;
        line-height: 71px;
    }

    .content__title span {
        font-size: 14px;
        margin-bottom: 2px;
    }

    .content__text {
        max-width: 277px;
        font-size: 13px;
        margin-top: 24px
    }
    
    .content__link, .promo a {
        padding: 18px 40px;
        font-size: 13px;
        margin-top: -8px        
    }

    .main img {
        max-width: 298px;
        max-height: 298px;
        right: 190px;
        bottom: -80px
    }


    .bg {
        display: none;
    }

    .block {
        display: block;        
    }

    .promo {
        padding-top: 96px;
        padding-bottom: 63px;        
    }

    .promo-left {
        padding: 40px 16px 66px;
    }
    .sale {
        padding: 5px 21px;
        border-radius: 14px;    
    }

    .cost {
        margin-top: 5px;
        margin-left: -2px;
        letter-spacing: -3px;
        margin-bottom: -14px;
    }

    .promo-description {
        font-size: 13px;
        width: 249px;
        line-height: 21px;        
    }

    .promo-right {
        padding: 42px 12px;
        margin-top: 21px
    }

    .free {
        font-size: 39px;
    }

    .promo__dr {
        font-size: 14px;
        margin-top: 17px;
        margin-left: 3px;
        width: 261px;
        letter-spacing: .2px;
    }

    .promo-right a{
        margin-top: 5px;
        margin-left: 3px;
        padding: 20px 32px       
    }

    footer {
        padding-top: 51px;
    }

    .footer {
        position: relative;
        height: 661px;
    }

    .logo {
        padding-top: 10px;
    }

    .tel {
        position: absolute;
        right: 15px;
        top: 53px;
        display: block;
    }

    .pos1 {
        position: absolute;
        top: -113px;
        right: -98px
    }

    .pos2 {
        position: absolute;
        left: 13px;
        top: 99px;
    }

    .pos2>ul>li {
        margin-bottom: -6px;
    }

    .item ul {
        padding-left: 0;
    }

    .pos3 {
        position: absolute;
        left: 13px;
        top: 307px
    }
   
    .pos3>ul>li {
        margin-bottom: -12px;
    }

    .pos4 {
        display: none;
    }

    .item li {
        line-height: 38px;
        letter-spacing: 1px;
        margin-bottom: 0;
    }

    .item h2 {
        margin-bottom: 0;
        font-size: 18px;
    }

    .item span {
        margin-bottom: -15px;
        line-height: 36px;
    }

}

